.mainCart{
    border: 2px solid white;
    margin-top: 3rem;
    box-shadow: 2px 2px 200px 2px rgb(43, 0, 255);
    width: 60rem;
    margin: auto;
    margin-top: 3rem;
    
   
}
.cartItem{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background-color: rgb(47, 65, 116);
    /* border: 2px solid red; */
    margin-top: 20px;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 90%;
   margin-left: 2rem;
    
}